/* loading */
#full-popup-loading{
	position: fixed;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 99999;
	overflow: hidden;
}
#full-popup-loading .loader.is-active{
	background-color: rgba(0,0,0,.35);	
}

/* functional */
.data-edit {
	background: #638dba;
	padding: 1px 4px;
	color: white;
	line-height: inherit;
}
.data-delete {
	background: #e33131;
	padding: 1px 4px;
	color: white;
	line-height: inherit;
}


/* boot strap customizing */
.list-group-item:last-child, .list-group-item:first-child {
	border-radius: 0;
}