@CHARSET "UTF-8";
html {
	height: 100%;
}
abbr, address, article, aside, audio, b, blockquote, body, canvas,
	caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset,
	figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header,
	hgroup, i, iframe, img, kbd, label, legend, li, mark, menu, nav,
	object, ol, p, pre, q, samp, section, small, span, strong, sub, summary,
	sup, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	background: 0 0;
}

body {
	box-sizing: border-box;
	min-width: 300px;
	width: 100%;
	font-size: 13px;
	font-family: "Malgun Gothic", "맑은 고딕", sans-serif;
	background-color: #ececec;
	height: 100%;
}

ul li {
	list-style: none;
}

header.topHead {
	width: 100%;
	height: 15vw;
	background: #ffdf00;
	background-size : 100%, 100%;
	left: 0;
	top: 0;
	overflow: hidden;
	z-index: 100;
	position: fixed;
	text-align: center;
}

header .home_ico {
	position: absolute;
	right:0;
	top:0;
    width: 15vw;
    height: 15vw;
}

header .home_menu {
	position: absolute;
	left:0;
	top:0;
    width: 15vw;
    height: 15vw;
}
header .home_menu img, header .home_ico img {
	padding: 3vw;
	height: 100%;
	width: 100%;	
}
header .home_img img{
	height: 15vw;
	padding: 2vw;	
}
/* header.topHead:before { */
/* 	content: ""; */
/* 	display: block; */
/* 	padding-top: 50px; */
/* }  */

nav div.dimmed {
	width: 100%;
	height: 100%;
	background: #c5c5c5;
	opacity: 0.5;
}
nav.side-menu-wrap{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 999;
	margin-top: 15vw;
}
nav .side-menu {
	position: absolute;
	z-index: 1000;
	/* border: 1px solid #ffdf00; */
	background: #FFFFFF;
	top: 0;
	height: 100%;
}

nav .side-menu li {
	padding: 3vw;
	width: 45vw;
	text-align: left;
	border-bottom: 1px solid #cecece;
}

nav .side-menu li a{
	color: #7d7d7d;
	font-size: 5vw;
	font-weight: bold;
}

div#content_wrap {
	height : 100%;
	position: relative;
}

div.container_wrap {
/* 	width: 100%; */
	height: 100%;
	position: relative;
}

section.mContents{
    padding-top: 15vw;
	padding-bottom: 15vw;
    position: relative;
    /*padding-bottom: 0 !important;*/
    /*height: 100%;*/
}

footer.fixedFooter{
	position: fixed;
	width : 100%;
	height: 20vw;
	left : 0;
	bottom : 0;
	background: #FFFFFF;
	z-index: 1000;
	border-top: 1px solid #eaeaea;
}
footer.fixedFooter a{
	padding: 0 2vw;
}
footer.fixedFooter img{
	width: 20vw;
	height: 20vw;
}
.footerContainer {
	display: -webkit-flex;
	display:         flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}


input[type=text] {   
    /* Remove First */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* Then Style */
/*     border-radius: 15px; */
/*     border: 1px dashed #BBB; */
    padding: 10px;
    line-height: 20px;
    text-align: center;
    background: transparent;
    outline: none;    
}

.fontsize_15e {
	font-size: 1.5em;
	line-height: 1.5em;
}
.fontsize_13e {
	font-size: 1.3em;
	line-height: 1.3em;
}
.fontsize_12e {
	font-size: 1.2em;
	line-height: 1.2em;
}
.fontsize_11e {
	font-size: 1.1em;
	line-height: 1.1em;
}