<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta name="viewport"
		  content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,height=device-height"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta http-equiv="content-language" content="ko"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

	<title layout:title-pattern="$CONTENT_TITLE :: $DECORATOR_TITLE">Site Tilte</title>

	<meta http-equiv="Expires" content="-1"/>
	<meta http-equiv="Pragma" content="no-store, no-cache"/>
	<meta http-equiv="Cache-Control" content="must-revalidate, private, max-age=0, no-cache, no-store"/>

	<!-- js lib cdn -->
	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		  crossorigin="anonymous" />
		  
<!-- 	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" /> -->
<!-- 	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script> -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"
			integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
			crossorigin="anonymous"></script>
<!-- 	<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script> -->
	<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
			integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
			crossorigin="anonymous"></script>



	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.kr.min.js"></script>

	<link rel="stylesheet" type="text/css" th:href="@{/css/common/common.css}"/>
</head>
<body>
	<div id="content_wrap">
		<header class="topHead" layout:fragment="header">
			<div class="home_ico">
				<a th:href="@{/}">
					<img alt="home icon" th:src="@{/images/common/header_home.png}" />
				</a>
			</div>
			<div class="home_img">
				<div class="header-title-wrap" th:if="${loginUser.userType.code != 'GST'}">
					<div class="header-title-bg-wrapper">
						<img alt="header-title-bg-left" class="header-title-bg-left" th:src="@{/images/common/header_preschool_title_bg_left.png}" />
					</div>
					<div class="header-title-bg-wrapper school-name-wrapper">
						<span th:inline="text">[[${loginUser.school.schName}]]</span>
					</div>
					<div class="header-title-bg-wrapper">
						<img alt="header-title-bg-right" class="header-title-bg-right" th:src="@{/images/common/header_preschool_title_bg_right.png}" />
					</div>
				</div>
				<img alt="home icon" th:src="@{/images/common/header_main.png}" th:if="${loginUser.userType.code == 'GST'}"/>
				
			</div>
			<div class="home_menu">
				<img alt="home menu" th:src="@{/images/common/header_list.png}" onclick="toggleSideMenu()"/>
			</div>
		</header>
		<nav class="side-menu-wrap hidden">
			<div class="dimmed"></div>
			<ul class="side-menu" th:if="${loginUser.userType.code == 'GST'}">
				<li>
					<a th:href="@{/guest/introduce}">소개</a>
				</li>
				<li>
					<a th:href="@{/?hpnum=01625709371}">둘러보기</a>
				</li>
				<li>
					<a th:href="@{/setPhoneNumber}">번호설정</a>
				</li>
			</ul>
			<ul class="side-menu" th:if="${loginUser.userType.code == 'PAR'}">
				<li>
					<a th:href="@{/board/parent/unboadrequest/on}">등교 미탑승</a>
				</li>
				<li>
					<a th:href="@{/board/parent/unboadrequest/off}">하교 미탑승</a>
				</li>
				<li>
					<a th:href="@{/test/parent/reqMedi}">투약 의뢰서</a>
				</li>
				<li>
					<a th:href="@{/setPhoneNumber}">번호설정</a>
				</li>
				<li>
					<a th:href="@{/?hpnum=01000000000}">게스트홈</a>
				</li>
			</ul>
			<ul class="side-menu" th:if="${loginUser.userType.code == 'TCH'}">
				<li>
					<a th:href="@{/board/teacher/buslinelist/on}">등원차량관리</a>
				</li>
				<li>
					<a th:href="@{/board/teacher/buslinelist/off}">하원차량관리</a>
				</li>
				<li>
					<a th:href="@{/test/teacher/childList}">우리반아이들</a>
				</li>
				<li>
					<a th:href="@{/setPhoneNumber}">번호설정</a>
				</li>
				<li>
					<a th:href="@{/?hpnum=01000000000}">게스트홈</a>
				</li>
			</ul>
		</nav>
		<section class="mContents" layout:fragment="content">
		</section>
		<div class="overlay-back">
			<span class="glyphicon glyphicon-menu-left" aria-hidden="true" onclick="historyBack()"></span>
		</div>
		<footer class="fixedFooter" layout:fragment="header" th:if="${loginUser.userType.code != 'GST'}">
			<div class="footerContainer" th:if="${loginUser.userType.code == 'PAR'}">
				<a href="tel:01055557777">
					<img alt="home icon" th:src="@{/images/menu/common/footer_call.png}" />
				</a>
				<a th:href="@{/board/parent/busline}">
					<img alt="home icon" th:src="@{/images/menu/common/footer_bus.png}" />
				</a>
				<a th:href="@{/user/chat?targetId=} + ${loginUser.userClass.hrTeacherId}">
				<!--<a th:href="@{/user/chat?targetId=} + 1">-->
					<img alt="home icon" th:src="@{/images/menu/common/footer_msg.png}" />
				</a>
				<a href="#" onclick="alert('준비중입니다')">
					<img alt="home icon" th:src="@{/images/menu/common/footer_mall.png}" />
				</a>
			</div>
			<div class="footerContainer" th:if="${loginUser.userType.code == 'TCH'}">
				<a th:href="@{/test/teacher/childList}">
					<img alt="home icon" th:src="@{/images/menu/common/footer_msg.png}" />
				</a>
				<a th:href="@{/notice/list}">
					<img alt="home icon" th:src="@{/images/menu/common/footer_teacher_notice.png}" />
				</a>
				<a th:href="@{/setPhoneNumber}">
					<img alt="home icon" th:src="@{/images/menu/common/footer_setting.png}" />
				</a>
				<a onclick="clickUploadImage()">
					<img alt="home icon" th:src="@{/images/menu/common/footer_camera.png}" />
				</a>
			</div>
			
			<form th:action="@{/file/upload/single}" method="post" id="menu-form" enctype="multipart/form-data" data-ajax="false">
				<input type="file" class="file" name="file" multiple />
				<input type="hidden" name="filetype" value="menu"/>
			</form>
			<form th:action="@{/file/upload/single}" method="post" id="image-form" enctype="multipart/form-data" data-ajax="false">
				<input type="file" class="file" name="file" multiple />
				<input type="hidden" name="filetype" value="image"/>
			</form>
		</footer>
	</div>
	<script th:inline="javascript">
		var mode = null;
	 	[# th:if="${param.mode != null}"]
		mode = [[${param.mode[0]}]];
	 	[/]
	
	 	function isGuestMode() {
	 		return mode != null && mode == "GUEST";
	 	}
	 	
		console.log("param mode = " + mode);
		
		function toggleSideMenu() {
			$("nav.side-menu-wrap").toggleClass("hidden");
		}
		
		function historyBack() {
			window.history.back();
		}
		
		$(document).ready(function() {
			var path = location.pathname;
			
			if (path == "/") {
				$(".overlay-back").hide();
			}
		});
		
		function clickUploadMenu() {
			var file = $("#menu-form input.file")
			console.log(file.val());
			file.val("");
			file.trigger('click');
		}
		
		$("#menu-form input.file").on("change", function(){
			var result = confirm("이 파일을 업로드 하시겠습니까?");
			if (result) {
				var form = $("#menu-form")[0];
				var file = $(this).prop('files')[0]
				var formData = new FormData(form);
				
				$.ajax({
					url : "/file/upload/single"
					, enctype: "multipart/form-data"
					, processData : false
					, contentType : false
					, cache: false
					, data : formData
					, type : "POST"
					, method : "POST"
					, success : function(result){
						if (result.code == "0") {
							console.log(result.data);
							alert("성공적으로 업로드 하였습니다.");
						} else {
							alert("파일 업로드에 실패하였습니다.")
						}
					}
					, timeout: 10000
					
				});
			} else {
				$(this).val("");
			}
		})
		
		function clickUploadImage() {
			if (isGuestMode()) {
				alert("체험하기 중엔 사용할 수 없는 기능입니다.");
				return false;
			}
			
			var file = $("#image-form input.file")
			console.log(file.val());
			file.val("");
			file.trigger('click');
		}
		
		$("#image-form input.file").on("change", function(){
			var result = confirm("이 파일을 업로드 하시겠습니까?");
			if (result) {
				var form = $("#image-form")[0];
				var file = $(this).prop('files')[0]
				var formData = new FormData(form);
				
				$.ajax({
					url : "/file/upload/single"
					, enctype: "multipart/form-data"
					, processData : false
					, contentType : false
					, cache: false
					, data : formData
					, type : "POST"
					, method : "POST"
					, success : function(result){
						if (result.code == "0") {
							console.log(result.data);
							alert("성공적으로 업로드 하였습니다.");
						} else {
							alert("파일 업로드에 실패하였습니다.")
						}
					}
					, timeout: 10000
					
				});
			} else {
				$(this).val("");
			}
		})
		
		function readyButton() {
			alert("준비중입니다");
		}
	</script>
	<script layout:fragment="script">

	</script>
</body>
</html>