<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.cnkisoft.kidsstory.common.file.mapper.FileMapper">


	<resultMap type="kr.cnkisoft.kidsstory.common.file.domain.DailyGalleryListVo" id="DailyGalleryListVo" autoMapping="false">
		<constructor>
			<idArg column="DIALY_DATE" javaType="string"/>
		</constructor>
		<collection property="images" ofType="kr.cnkisoft.kidsstory.common.file.domain.FileInfoDto" javaType="ArrayList"
			autoMapping="true">
			<constructor>
				<idArg column="FILE_ID" javaType="int"/>
			</constructor>
		</collection>
	</resultMap>
	
	<select id="selectListDailyImageByClassId" resultMap="DailyGalleryListVo"
		parameterType="map">
		SELECT
			DATE_FORMAT(a.CREATED_DT, '%Y년 %m월 %d일') as DIALY_DATE
			, a.*
			, CONCAT('/file/data/', LOWER(a.FILE_TYPE), '/', a.FILE_NM) AS IMG_SRC
		FROM
			FILE_INFO a 
		WHERE
			FILE_TYPE = 'IMAGE'
			AND CLS_ID = #{clsId}
		ORDER BY
			CREATED_DT DESC
	</select>

	<insert id="insertFileInfo" parameterType="kr.cnkisoft.kidsstory.common.file.domain.FileInfoDto" 
		useGeneratedKeys="true" keyProperty="fileId">
		INSERT INTO FILE_INFO 
			(FILE_NM, FILE_TYPE, CLS_ID, CREATED_BY, CREATED_DT) 
		VALUES
			(#{fileNm}, #{fileType}, #{clsId}, #{createdBy}, now())
	</insert>

</mapper>