<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.cnkisoft.preschool.user.mapper.UserMapper">

	<resultMap type="kr.cnkisoft.preschool.user.domain.StudentVo" id="StudentVo" autoMapping="false">
		<constructor>
			<idArg column="USER_ID" javaType="int"/>
		</constructor>
		<result property="userNm" column="USER_NM"/>
		<result property="userType" column="USER_TYPE"/>
		<result property="contact" column="CONTACT"/>
		<result property="email" column="EMAIL"/>
		<result property="profImgId" column="PROF_IMG_ID"/>
		<result property="sttusCd" column="STTUS_CD"/>
		<result property="schCd" column="SCH_CD"/>
		<result property="clsId" column="CLS_ID"/>
		<result property="imgSrc" column="IMG_SRC"/>
		<collection property="parents" ofType="kr.cnkisoft.preschool.user.domain.ParentVo" javaType="ArrayList">
			<constructor>
				<idArg column="PARENT_USER_ID" javaType="int"/>
<!-- 				<arg name="userNm" column="PARENT_USER_NM" javaType="String"/> -->
<!-- 				<arg name="userType" column="PARENT_USER_TYPE" javaType="String"/> -->
<!-- 				<arg name="contact" column="PARENT_CONTACT" javaType="String"/> -->
<!-- 				<arg name="clsId" column="PARENT_CLS_ID" javaType="int"/> -->
<!-- 				<arg name="email" column="PARENT_EMAIL" javaType="String"/> -->
<!-- 				<arg name="sttusCd" column="PARENT_STTUS_CD" javaType="String"/> -->
<!-- 				<arg name="imgSrc" column="PARENT_IMG_SRC" javaType="String"/> -->
			</constructor>
			<result property="userNm" column="PARENT_USER_NM"/>
			<result property="userType" column="PARENT_USER_TYPE"/>
			<result property="contact" column="PARENT_CONTACT"/>
			<result property="email" column="PARENT_EMAIL"/>
			<result property="sttusCd" column="PARENT_STTUS_CD"/>
			<result property="clsId" column="PARENT_CLS_ID"/>
			<result property="imgSrc" column="PARENT_IMG_SRC"/>
			<association property="pushInfo" javaType="kr.cnkisoft.preschool.push.domain.PreSchoolPushIdDto">
				<id property="contact" column="PARENT_PUSH_CONTACT"/>
				<result property="deviceId" column="PARENT_PUSH_DEVICE_ID"/>
				<result property="osType" column="PARENT_PUSH_OS_TYPE"/>
			</association>
		</collection>
	</resultMap>

	<select id="selectUserbyContact" resultType="kr.cnkisoft.preschool.user.domain.UserVo" parameterType="map">
		SELECT	/* 유저 정보 조회 (VIEW)*/
			* 
		FROM 
			VIEW_USER_BASE 
		WHERE 
			CONTACT = #{contact}
	</select>

	<select id="selectListStudentByParentId" resultType="kr.cnkisoft.preschool.user.domain.StudentVo" parameterType="map">
		SELECT
			a.*
		FROM
			VIEW_USER_BASE a
			JOIN MAP_PARENT_CHILD b ON a.USER_ID = b.CHILD_ID 
		WHERE 
			b.PARENT_ID = #{parentId}
			AND a.USER_TYPE = "STU"
	</select>
	
	<select id="selectListParentByStudentId" resultType="kr.cnkisoft.preschool.user.domain.UserDto" parameterType="map">
		SELECT
			a.*
		FROM
			VIEW_USER_BASE a
			JOIN MAP_PARENT_CHILD b ON a.USER_ID = b.PARENT_ID 
		WHERE 
			b.CHILD_ID = #{childId}
			AND a.USER_TYPE = "PAR"
	</select>
	
	<select id="selectListStudentByTeacherContact" parameterType="map" resultMap="StudentVo">
		SELECT	/* 학생 정보 조회 (선생님 전화번호) */
			student.*
			, parent.USER_ID	AS PARENT_USER_ID
			, parent.USER_NM	AS PARENT_USER_NM
			, parent.USER_TYPE	AS PARENT_USER_TYPE
			, parent.CONTACT	AS PARENT_CONTACT
			, parent.CLS_ID		AS PARENT_CLS_ID
			, parent.EMAIL		AS PARENT_EMAIL
			, parent.STTUS_CD	AS PARENT_STTUS_CD
			, parent.IMG_SRC	AS PARENT_IMG_SRC
			, push.CONTACT		AS PARENT_PUSH_CONTACT
			, push.DEVICE_ID	AS PARENT_PUSH_DEVICE_ID
			, push.OS_TYPE		AS PARENT_PUSH_OS_TYPE
		FROM 
			VIEW_USER_BASE teacher
			JOIN PRESCH_CLASS preschool ON teacher.USER_ID = preschool.HR_TEACHER_ID
			JOIN VIEW_USER_BASE student ON student.CLS_ID = preschool.CLS_ID AND student.USER_TYPE = 'STU'
			JOIN MAP_PARENT_CHILD parentRelation ON student.USER_ID = parentRelation.CHILD_ID 
			JOIN VIEW_USER_BASE parent ON parentRelation.PARENT_ID = parent.USER_ID AND parent.USER_TYPE = 'PAR'
			LEFT JOIN PRESCH_PUSH_ID push ON parent.CONTACT = push.CONTACT
		WHERE
			teacher.CONTACT = #{contact}
	</select>
	
	<select id="selectListStudentByBoardLineDetailId" parameterType="map" resultMap="StudentVo">
		SELECT /* 학생 정보 조회 (라인 상세 정보, 탑승 예약 대기 제외) */
			student.*
			, parent.USER_ID	AS PARENT_USER_ID
			, parent.USER_NM	AS PARENT_USER_NM
			, parent.USER_TYPE	AS PARENT_USER_TYPE
			, parent.CONTACT	AS PARENT_CONTACT
			, parent.CLS_ID		AS PARENT_CLS_ID
			, parent.EMAIL		AS PARENT_EMAIL
			, parent.STTUS_CD	AS PARENT_STTUS_CD
			, parent.IMG_SRC	AS PARENT_IMG_SRC
			, push.CONTACT		AS PARENT_PUSH_CONTACT
			, push.DEVICE_ID	AS PARENT_PUSH_DEVICE_ID
			, push.OS_TYPE		AS PARENT_PUSH_OS_TYPE
		FROM 
			PRESCH_LINE_DTL lineDetail
			JOIN MAP_LINE_STDU relLine ON lineDetail.LINE_DTL_ID = relLine.LINE_DTL_ID
			JOIN MAP_PARENT_CHILD relParent ON relLine.STDU_ID = relParent.CHILD_ID
			JOIN VIEW_USER_BASE student ON relParent.CHILD_ID = student.USER_ID
			JOIN VIEW_USER_BASE parent ON relParent.PARENT_ID = parent.USER_ID
			LEFT JOIN PRESCH_PUSH_ID push ON parent.CONTACT = push.CONTACT
		WHERE 
			lineDetail.LINE_DTL_ID = #{lineDetailId}
	</select>

</mapper>