<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.cnkisoft.kidsstory.preschool.mapper.PreschoolMapper">

	<insert id="insertPreschoolClass" parameterType="kr.cnkisoft.kidsstory.preschool.domain.PreschoolClassDto">
		INSERT INTO PRESCH_CLASS
			(CLS_NM, SCH_CD, HR_TEACHER_ID, STTUS_CD, CREATED_DT, CREATED_BY)
		VALUES
			(#{clsNm}, #{schCd}, #{hrTeacherId}, #{schSttusCd}, NOW(), #{createdBy})
	</insert>

	<update id="updatePreschoolClass" parameterType="kr.cnkisoft.kidsstory.preschool.domain.PreschoolClassDto">
		UPDATE
			PRESCH_CLASS
		SET
			CLS_NM = #{clsNm}
			, HR_TEACHER_ID = #{hrTeacherId}
			, UPDATED_DT = NOW()
			, UPDATED_BY = #{updatedBy}
		WHERE
			CLS_ID = #{clsId}
	</update>

	<select id="selectListPreschoolBus" parameterType="map"
		resultType="kr.cnkisoft.kidsstory.preschool.domain.PreschoolBusDto">
		SELECT
			*
		FROM
			PRESCH_BUS
	</select>

	<select id="selectListPreschool"
		resultType="kr.cnkisoft.kidsstory.preschool.domain.PreschoolDto">
		SELECT
			*
		FROM
			PRESCH_INFO
	</select>

	<insert id="insertPreschool" parameterType="kr.cnkisoft.kidsstory.preschool.domain.PreschoolDto">
		INSERT INTO PRESCH_INFO
			(SCH_CD, SCH_NAME, STTUS_CD, CREATED_DT, CREATED_BY)
		VALUES
			(#{schCd}, #{schName}, 'A', NOW(), #{createdBy})
	</insert>

	<update id="updatePreschool" parameterType="kr.cnkisoft.kidsstory.preschool.domain.PreschoolDto">
		UPDATE
			PRESCH_INFO
		SET
			SCH_CD = #{schCd}
			, SCH_NAME = #{schName}
			, UPDATED_DT = NOW()
			, UPDATED_BY = #{updatedBy}
		WHERE
			SCH_CD = #{schCd}
	</update>

</mapper>