<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.cnkisoft.kidsstory.board.mapper.BoardLineStationMapper">

	<resultMap type="kr.cnkisoft.kidsstory.board.vo.BoardLineDetailVo" id="LineDetailVo" autoMapping="false">
		<constructor>
			<idArg column="LINE_DTL_ID" javaType="int"/>
		</constructor>
		<result property="boardTm" column="BOARD_TM"/>
		<result property="boardLoc" column="BOARD_LOC"/>
		<result property="boardOrder" column="BOARD_ORDER"/>
		<result property="boardHistDate" column="BOARD_HIST_DATE"/>
		<collection property="studentList" ofType="kr.cnkisoft.kidsstory.board.vo.BoardStudentVo" javaType="ArrayList">
			<constructor>
				<idArg column="USER_ID" javaType="int"/>
			</constructor>
			<result property="userNm" column="USER_NM"/>
			<result property="imgSrc" column="IMG_SRC"/>
			<result property="clsNm" column="CLS_NM"/>
			<result property="unbReason" column="UNB_REASON"/>
			<result property="boardDiv" column="BOARD_DIV"/>
		</collection>
	</resultMap>

	<select id="selectListLineDetail" resultMap="LineDetailVo" parameterType="map">
		SELECT /* 운행 노선 정류장 리스트 조회 (앱화면, 노선Id/운행일) */
			busLineDetail.LINE_DTL_ID
			, busLineDetail.BOARD_TM
			, busLineDetail.BOARD_LOC
			, busLineDetail.BOARD_ORDER
			, busLineDetailHist.HIST_DATE as BOARD_HIST_DATE
			, stdu.USER_ID
			, stdu.USER_NM
			, stdu.IMG_SRC
			, cls.CLS_NM
			, busLineStudenHist.UNB_REASON
			, busLineStudenHist.BOARD_DIV
		FROM
			PRESCH_LINE busLine
			JOIN PRESCH_LINE_DTL busLineDetail ON busLine.LINE_ID = busLineDetail.LINE_ID
			JOIN MAP_LINE_STDU rel ON busLineDetail.LINE_DTL_ID = rel.LINE_DTL_ID
			JOIN VIEW_USER_BASE stdu ON rel.STDU_ID = stdu.USER_ID
			JOIN PRESCH_CLASS cls ON stdu.CLS_ID = cls.CLS_ID
			LEFT JOIN (SELECT * FROM PRESCH_LINE_DTL_HIST WHERE HIST_DATE = #{histDate}) busLineDetailHist
				ON rel.LINE_DTL_ID = busLineDetailHist.LINE_DTL_ID
			LEFT JOIN (SELECT * FROM PRESCH_LINE_STDU_HIST WHERE HIST_DATE = #{histDate}) busLineStudenHist
				ON rel.LINE_DTL_ID = busLineStudenHist.LINE_DTL_ID AND rel.STDU_ID = busLineStudenHist.USER_ID
		WHERE
			busLine.LINE_ID = #{lineId}
		ORDER BY
			busLineDetail.BOARD_TM
	</select>

	<select id="selectListLineDetailByLineId" resultMap="LineDetailVo" parameterType="map">
		SELECT /* 운행 노선 정류장 리스트 조회 (관리자화면, 노선Id) */
			busLineDetail.LINE_DTL_ID
			, busLineDetail.BOARD_TM
			, busLineDetail.BOARD_LOC
			, busLineDetail.BOARD_ORDER
			, stdu.USER_ID
			, stdu.USER_NM
			, stdu.IMG_SRC
			, cls.CLS_NM
		FROM
			PRESCH_LINE busLine
			JOIN PRESCH_LINE_DTL busLineDetail ON busLine.LINE_ID = busLineDetail.LINE_ID
			LEFT JOIN MAP_LINE_STDU rel ON busLineDetail.LINE_DTL_ID = rel.LINE_DTL_ID
			LEFT JOIN VIEW_USER_BASE stdu ON rel.STDU_ID = stdu.USER_ID
			LEFT JOIN PRESCH_CLASS cls ON stdu.CLS_ID = cls.CLS_ID
		WHERE
			busLine.LINE_ID = #{lineId}
		ORDER BY
			busLineDetail.BOARD_TM
	</select>

	<insert id="insertBoardLineDetail" parameterType="kr.cnkisoft.kidsstory.board.vo.BoardLineDetailDto">
		INSERT INTO PRESCH_LINE_DTL	/* 노선 정류장 정보 생성 */
			(LINE_ID, BOARD_TM, BOARD_LOC, CREATED_DT, CREATED_BY)
		VALUES
			(#{lineId}, #{boardTm}, #{boardLoc}, NOW(), #{createdBy})
	</insert>

	<update id="updateBoardLineDetail" parameterType="kr.cnkisoft.kidsstory.board.vo.BoardLineDetailDto">
		UPDATE	/* 노선 정류장 정보 변경 */
			PRESCH_LINE_DTL
		SET
			BOARD_TM = #{boardTm}
			, BOARD_LOC = #{boardLoc}
			, UPDATED_DT = NOW()
			, UPDATED_BY = #{updatedBy}
		WHERE
			LINE_DTL_ID = #{lineDtlId}
	</update>

	<select id="selectListMapStationAllStudent" parameterType="map"
		resultType="kr.cnkisoft.kidsstory.board.vo.BoardLineStudentRelationDto">
		SELECT
			*
		FROM
			MAP_LINE_STDU
		WHERE
			LINE_DTL_ID = #{lineDtlId}
	</select>

	<insert id="insertMapStationStudent" parameterType="kr.cnkisoft.kidsstory.board.vo.BoardLineStudentRelationDto">
		INSERT INTO MAP_LINE_STDU	/* 정류장 학생 관계 정보 생성 */
			(LINE_DTL_ID, STDU_ID, CREATED_DT, CREATED_BY)
		VALUES
			(#{lineDtlId}, #{stduId}, NOW(), #{createdBy})
	</insert>

	<delete id="deleteMapStationStudent" parameterType="kr.cnkisoft.kidsstory.board.vo.BoardLineStudentRelationDto">
		DELETE
		FROM
			MAP_LINE_STDU
		WHERE
			LINE_DTL_ID = #{lineDtlId}
			AND STDU_ID = #{stduId}
	</delete>

	<delete id="deleteMapStationAllStudent" parameterType="map">
		DELETE
		FROM
			MAP_LINE_STDU
		WHERE
			LINE_DTL_ID = #{lineDtlId}
	</delete>

</mapper>